---
const artistSubdomain = Astro.url.hostname.split('.')[0];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>IndiePort Portfolio</title>
  </head>
  <body>
    <h1>Welcome to {artistSubdomain}'s Portfolio</h1>
    <p>Content coming soon.</p>
  </body>
</html>